[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "==3.4.3"
ujson = "==4.0.2"
python-dotenv = "==0.15.0"
omero-py = "==5.9.1"
pandas = "==1.2.3"
aicsimageio = "==3.3.4"
scikit-image = "==0.18.1"
basicauth = "==0.4.1"
requests = "==2.26.0"
flask-cors = "*"
flask-restx = "==0.5.1"
flask = "==2.0.3"
werkzeug = "==2.1.2"
markupsafe = "==2.0.1"
spex-common = {editable = true, path = "./../../common"}

[dev-packages]
flake8 = "3.9.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
